.navbar {
    background-color:	#9ACD32;
}

.navbar li:active, li:hover{
  background-color:#FFFFFF;
}
.background_color{
  background-color:#DCDCDC;
}
.container_color{
  padding-top: 50px;
padding-right: 50px;
padding-bottom:50px;
padding-left: 50px;
  background-color: white;
}
.center{
  text-align: center;
}
.font{
  font-size:18px;
  font-weight: bold;
}
.nav-link{
  color:black!important;

}

p{
  font-size: 18px;
}
li{
  font-size: 18px;
}
lu
.dropdown-item{color:black !important;}
.imgs{
  padding-top: 10px;
padding-right: 10px;
padding-bottom:10px;
padding-left: 10px;
  width: 33%;
  height: 25%;
}
.PADDLE{

  padding-top: 30px;
}
