<body class='background_color'>
{% extends 'navbar.html' %}
{% block base %}
{%load static%}
<head>
    <link rel="stylesheet" href="{% static '/main.css' %}"/>
</head>
<body class='imgs'>


<div class="container container_color">
  <div class="col-2">
  </div>

  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  <div class="row ">
    <div class="col-2">
    </div>
  <div class="col-10">

  </div>
    </div>
    <div class="row">
      <img src="{%static 'clientes/i1.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i2.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i3.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i4.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i5.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i6.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i7.png'%}" alt="" class='imgs'>
      <img src="{%static 'clientes/i8.png'%}" alt="" class='imgs '>
      <img src="{%static 'clientes/i9.png'%}" alt="" class='imgs '>
<!--      <h3>experiencia</h3>
      Grupo de Consultoría Corporativa, S.C. ha tenido a su cargo y ha participado en el
  desarrollo de diversos estudios y proyectos, tanto para el sector privado como el
  público, en sus tres ámbitos: federal, estatal y municipal.<br>
  Gobierno del Estado de Quintana Roo. Formulación del Reglamento de la Ley de
  Asentamientos Humanos, Ordenamiento Territorial y Desarrollo URbano del Estado de
  Quintana Roo.<br>
  Gobierno del Estado de Hidalgo. Programa Parcial de Desarrollo Urbano, Logístico e
  Industrial de Estación de Terreros, Villa de Tezontepec, Hidalgo.<br>
  2018 <br>
  Implan León, Guanajuato/ Grupo Daadro, S.A. Alternativas de Gestión Urbana para la
  Ejecución de las Obras de Modernización y Desarrollo del Boulevard Aeropuerto, León,
  Guanajuato.<br>
  Gobierno del Estado de Chihuahua. Nueva Ley de Asentamientos Humanos, Ordenamiento
  Territorial y Desarrollo Urbano del Estado de Chihuahua.<br>
  Gobierno del Estado de Quintana Roo. Reforma Urbana para el Crecimiento Ordenado y
  Sustentable del Estado de Quintana Roo.<br>
  Gobierno del Estado de Durango/Escala del Norte, S.A. Creación de la Agenda de
  Proyectos Estratégicos de Durango.<br>
  2017 <br>
  Gobierno de la Ciudad de México. Impactos y Visión Prospectiva de la Conversión de Usos y
  Destinos del Actual Aeropuerto para el Corredor Aeropuerto - Centro Histórico - Bosque de
  Chapultepec y para el Patrimonio Cultural Urbano de la Ciudad de México.
  Gobierno del Estado de Hidalgo. Nueva Ley de Asentamientos Humanos, Ordenamiento
<br>
  Territorial y Desarrollo Urbano del Estado de Hidalgo.
  Operadora Río Huach, S. A. de C. V. Instrumentación y Gestión Administrativa Integral para el
  Proyecto de Desarrollo Turístico Cabañas Río Huach, Quintana Roo.
<br>
  2016
  <br>
  Cámara de Diputados. Comisión De seguimiento a la construcción del nuevo aeropuerto de la
  Ciudad de México. Armonización de los Instrumentos de Planeación para el Área de Influencia
  del Nuevo Aeropuerto de la Ciudad de México.
  Gobierno del Estado de Hidalgo. Diagnóstico, Consulta y Contenidos de la Reforma
  Legislativa en Materia de Desarrollo Regional y Metropolitano del Estado de Hidalgo.
  Barriopolis Consultores, S.C. Asesoría para el Proyecto Programa Parcial de Desarrollo
  Urbano Tepito, Ciudad de México.
  Gobierno del Estado de Morelos. Elaboración del Plan Maestro de Ordenamiento Territorial
  de la Plataforma Logística e Industrial de la Zona Oriente del Estado de Morelos.
  Procuraduría Ambiental y del Ordenamiento Territorial del Distrito Federal. Foro
  Patrimonio Urbanístico Arquitectónico 0de la Ciudad de México.<br>
  Procuraduría Ambiental y del Ordenamiento Territorial del Distrito Federal. Foros para la
  Gestión Urbana Sustentable del Distrito Federal
  Gobierno de la Ciudad de México/Programas de Desarrollo y Construcción, S.A. de C.V.
  Desarrollo metodológico, diagnóstico de la normatividad vigente y propuestas jurídicas
  estratégicas para el proyecto de revitalización urbana denominado “Distrito San Pablo”.
  HJM Consultores Planeación y Ciudad, S.C. Guía para la elaboración de Estudio de Impacto
  Urbano, Ambiental y de Movilidad.<br>
  2015 <br>
  Gobierno del Estado de Tabasco, Secretaría de Ordenamiento Territorial y Obras
  Públicas.- Programa de Desarrollo Urbano de la Zona Conurbada Villahermosa-Nacajuca.
  CartoData, S.A. de C.V.- Modernización del Catastro y Registro Público de la Propiedad del
  Municipio de Los Cabos.<br>
  Consejo de Hombres de Negocios del Estado de Morelos. Estudio urbano para promover la
  inversión y desarrollo sustentable en el Centro de la Ciudad de Cuernavaca, Morelos.
<br>
  Procuraduría Ambiental y del Ordenamiento Territorial del Distrito Federal. Foros para la
  Gestión Urbana Sustentable del Distrito Federal. (2015)<br>
  Universidad Autónoma Metropolitana Xochimilco / Secretaría de Desarrollo Urbano y
  Vivienda del Distrito Federal. Servicios de asesoría y consultoría jurídica en materia de
  desarrollo urbano para la formulación de los proyectos de normas generales de ordenación 30
  y 31 en materia de vivienda de interés social y densificación de vivienda para el Distrito
  Federal. <br>
  2014 <br>
  Procuraduría Ambiental y del Ordenamiento Territorial del Distrito Federal. Revisión y
  Propuestas al Marco Normativo que Regula los Usos del Suelo en las Áreas Verdes y Otras
  Limítrofes con las Áreas Urbanas o Urbanizables del Distrito Federal. (2014)
  Consultoría Especializada en Desarrollo Urbano y Viabilidad Inmobiliaria S.C. (CEDUVI);
  Secretaría de Desarrollo Urbano del Distrito Federal.- Revisión Normativa de Resultados del
  Programa General de Desarrollo Urbano Vigente, del Distrito Federal.
  Gobierno del Distrito Federal. Secretaría de Desarrollo Urbano y Vivienda. Servicios de
  Asesoría y Consultoría para el Plan Maestro de Granada. <br>
  Universidad Autónoma Metropolitana. Servicios de Asesoría para la Revisión de la Norma
  de Ordenación General 26, para la Promoción de Vivienda en el Distrito Federal.
  Comisión para la Regularización de la Tenencia de la Tierra / Centro EURE. Estudio para
  la Formulación de una Política Nacional de Suelo Urbano.<br>
  Senado de la República. Comisión de Desarrollo Urbano. Asesoría para la Dictamen de la
  Nueva Ley General de Asentamientos Humanos, Desarrollo Urbano y Ordenamiento Territorial.
  Universidad Autónoma Metropolitana Xochimilco / Gobierno del Estado de Oaxaca.
  Servicios de consultoría para la formulación del proyecto de Ley de Ordenamiento Territorial y
  Desarrollo Urbano para el Estado de Oaxaca.<br>
  T69, S.A. de C.V. Servicios de asesoría y consultoría jurídica en materia de desarrollo urbano
  para el desarrollo del proyecto Reforma 509.<br>
  Arquitectoma. Servicios de asesoría y consultoría jurídica en materia de desarrollo urbano.
  FRISA, Constructora de Ciudades, S.A. de C.V. Servicios de consultoría jurídica urbana e
  inmobiliaria para la instrumentación del proyecto Campus Biometrópolis en Tlalpan, Distrito
  Federal.<br>-->
    </div>
    </div>
    {% include 'footer.html'%}
    </body>
{% endblock %}
