<body class='background_color'>
{% extends 'navbar.html' %}
{% block base %}

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  {% include 'carrusel.html'%}
  <div class="row">
    <div class="col-2">
    </div>
  <div class="col-10">

  </div>
    </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-3">
    <h2>PRESENTACIÓN</h2>


    </div>
  </div>
<div class="row ">
<p>La creciente complejidad de los fenómenos a los que se enfrenta actualmente la
sociedad ha propiciado que en muchos casos las instituciones, organismos y empresas
públicos y privados, enfrenten cada vez mayores dificultades para alcanzar sus
objetivos.<br>
Esta realidad ha generado la necesidad de racionalizar cada día más la toma de
decisiones, a través de mejores apoyos profesionales y técnicos, basados en la ciencia,
la investigación y la experiencia.<br>
La satisfacción de demandas sociales y económicas, la realización eficiente de
proyectos y acciones, así como la consecución de metas y resultados, suponen la
adopción y el seguimiento de sistemas, procedimientos y tecnologías que optimicen los
costos y beneficios inherentes a dichos procesos.<br>
Grupo de Consultoría Corporativa, Sociedad Civil - Consultcorp - es una empresa
constituida hace más de veinticinco años, que ha venido ofreciendo servicios
interdisciplinarios de asesoría, consultoría y supervisión para la atención de problemas
relacionados con el desarrollo urbano, las finanzas públicas y políticas tributarias, el
medio ambiente y el desarrollo social.</p>
<br>
<br>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-3">
    </div>
    </div>
    </div>
{% include 'footer.html'%}
{%endblock%}

</body>
