<body class='background_color'>
{% extends 'navbar.html' %}
{% block base %}

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  {% include 'carrusel.html'%}
  <div class="row">
  <div class="col-5">


    <h2>INFORMACIÓN GENERAL</h2>
    </div>
    <div class="row">


    <div class="col-6">
    <h4>Director General:</h4> <h5>Lic. Víctor Ramírez Navarro.</h5>
    <h4>Representantes legales:</h4><h5> Lic. Gerardo Gómez del Campo del Paso.</h5>
    <h5>Lic. Leopoldo Pérez Pérez</h5>

    <h4>Domicilio:</h4> <h5>Insurgentes Sur 1855, despacho 901. Colonia Guadalupe Inn, ,
    Delegación Álvaro Obregón, CP 01020, Ciudad de México.</h5>
    <h4>Tels:</h4> <h5>56-61-75-21 y 56-61-86-40.</h5>

    <h4> Acta constitutiva:</h4> <h5>Escritura Pública Núm. 4826, Vol 66, Pág. 66 de fecha 27 de abril
    de 1989, otorgada ante el Notario Público 177 del D.F., Lic. Víctor
    Manuel Mancilla.</h5>

    <h4>Registro Federal de Contribuyentes:</h4> <h5>GCC 890427 MP5</h5>
    <h4>Registro del IMSS:</h4> <h5>Y64 21711 10</h5>
    <h4>Registro Cámara Nacional de Empresas de Consultoría:</h4> <h5>1377</h5>
  </div>
    </div>
        </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    </div>
    </div>
    {% include 'footer.html'%}
{%endblock%}
