{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!doctype html>
<head>
    <link rel="stylesheet" href="{% static '/main.css' %}"/>
</head>
<body class="background_color">

<nav class="navbar navbar-expand-lg navbar-light fixed-top font" id='my_nav'>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my_nav1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id='my_nav1'>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index'%}">Presentacion</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'servicios1'%}">Servicios de consultoría y asesoría jurídica</a>
          <a class="dropdown-item" href="{% url 'servicios2'%}">Estudios en materia de planeación urbana y regional</a>
          <a class="dropdown-item" href="{% url 'servicios3'%}">Estudios y proyectos en materia tributaria, inmobiliaria y sistemas de
información catastral y registral</a>
      </li>
      <li class="nav-item colors">
        <a class="nav-link" href="{% url 'experiencia'%}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projectos' %}">Projectos y Descargas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'informacion'%}">Información general</$
      </li>

    </ul>
  </div>
</nav>
{% block base %}
{% endblock %}

</body>
