<body class='background_color'>
{% extends 'navbar.html' %}
{% block base %}

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>

  <div class="row">
  <div class="col-10">
{%for s in all_files %}
<br>
<pre><a href="/media/{{s.pdf}}">{{s.nombre }}</a></pre>
{%endfor%}
  </div>
</div>
</div>
  {% include 'footer.html'%}
{%endblock%}
