{% extends 'navbar.html' %}
{% block base %}
<body class='background_color'>

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  {% include 'carrusel.html'%}
  <div class="row">
    <div class="col-2">
    </div>
  <div class="col-10">
</div>
<h2>Estudios en materia de planeación urbana y regional.</h2>
<h5>Elaboración y evaluación de planes y programas de desarrollo urbano y regional,
incluyendo, entre otras acciones, las siguientes:<br></h5>
<ul>
<li> Formulación de normas y reglamentos de usos del suelo, construcciones, imagen urbana,
patrimonio cultural y fraccionamientos.</li><br>
<li> Instrumentación de proyectos inmobiliarios, desde su concepción corporativa, gestión de
autorizaciones y permisos, financiamiento, operación y comercialización.</li><br>
<li>Diseño de instrumentos para la planeación y administración urbana y habitacional.</li><br>
<li> Formulación y gestión de estudios de impacto urbano.</li><br>
<li> Estudios de tenencia de la tierra y de regularización inmobiliaria.</li><br>
<li>Evaluación técnica y financiera de proyectos y desarrollos inmobiliarios.</li><br>
<li>Diseño y ejecución de programas de capacitación en la materia.</li><br>
Estudios en materia de medio ambiente<br>
<br>

</ul>
</div>
</div>
{% include 'footer.html'%}
{% endblock %}
