{% extends 'navbar.html' %}
{% block base %}
<body class='background_color'>

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  {% include 'carrusel.html'%}
  <div class="row">
    <div class="col-2">
    </div>
  <div class="col-10">
</div>
<h2>Diseño y ejecución de programas de capacitación en la materia.</h2><br>
<<p>
<h5>studios y proyectos en materia tributaria, inmobiliaria y sistemas de
información catastral y registral</h5>
<ul>
Diseño conceptual, desarrollo y programación de aplicaciones para sistemas de
información inmobiliaria y geográfica, incluyendo, entre otras acciones, las siguientes:
<li> Estudios para la modernización catastral y del registro público de la propiedad.</li><br>
<li>Estudios económico financieros y de valorización inmobiliaria.</li><br>
<li>Estudios de política e impacto fiscal.</li><br>
<li>Servicios de fotogrametría, fotointerpretación, geodesia y sistemas de información geográfica.</li><br>
</ul>

</p>
</div>
</div>
{% include 'footer.html'%}
</body>
{% endblock %}
