{% extends 'navbar.html' %}
{% block base %}
<body class='background_color'>

<div class="container container_color">
  <div class="col-2">
  </div>
  <h1>GRUPO DE CONSULTORÍA CORPORATIVA, S.C.</h1>
  {% include 'carrusel.html'%}
  <div class="row">
    <div class="col-2">
    </div>
  <div class="col-10">
  </div>

<ul>
<h2>Servicios de consultoría y asesoría jurídica</h2>
<h5>Análisis y atención de casos y proyectos en materia administrativa, fiscal y corporativa,
así como de derecho urbano, ambiental y desarrollo social y regional, incluyendo:<br></h5>
<li> Diseño, formulación y gestión de proyectos de decretos, leyes, reglamentos, normas y demás
disposiciones jurídicas.</li><br>
<li> Diseño, gestión e instrumentación de licitaciones y concursos en materia de bienes y servicios
públicos tanto para instituciones públicas como para particulares participantes.</li><br>
<li> Asistencia en la adquisición, planeación y desarrollo de proyectos inmobiliarios, urbanos,
ambientales o de desarrollo social.</li><br>
<li> Asistencia en los procesos de negociación y gestión de dichos proyectos y sus componentes
asociados.</li><br>
<li>Asesoría y gestión para la obtención de autorizaciones, permisos y concesiones
gubernamentales.<br></li><br>
<li> Auditorias corporativas integrales.</li><br>
Elaboración y evaluación de planes y programas en materia de ordenamiento ecológico
y protección al ambiente, incluyendo, entre otras acciones, las siguientes:<br>

<li> Formulación de normas y reglamentos en materia de protección del medio ambiente y de
recursos naturales.</li><br>
<li>Diseño de instrumentos para la gestión ambiental.</li><br>
<li>Elaboración y evaluación de planes y programas de ordenamiento y regulación ecológicos.</li><br>
<li>Formulación y gestión de manifestaciones de impacto ambiental.</li><br>
<li> Ejecución de auditorias ambientales.</li><br>
<li>Diseño y ejecución de programas de capacitación en la materia.</li><br>
Estudios y proyectos en materia tributaria, inmobiliaria y sistemas de
información catastral y registral
Diseño conceptual, desarrollo y programación de aplicaciones para sistemas de
información inmobiliaria y geográfica, incluyendo, entre otras acciones, las siguientes:
<li> Estudios para la modernización catastral y del registro público de la propiedad.</li><br>
<li>Estudios económico financieros y de valorización inmobiliaria.</li><br>
<li>Estudios de política e impacto fiscal.</li><br>
<li>Servicios de fotogrametría, fotointerpretación, geodesia y sistemas de información geográfica.</li><br>
</ul>
</div>
</div>
{% include 'footer.html'%}
</body>

{% endblock %}
